<header class="app-toolbar">

  <a class="logo-area" routerLink="/dashboard">
    <i class="material-icons logo-icon">code</i>
    <h1 class="toolbar-title">My Dashboard</h1>
  </a>

  <span class="toolbar-spacer"></span>
   @if(isLoggedIn$ | async)
   {
     
    <a class="nav-link" routerLink="/adminHomePage/courses" routerLinkActive="active-link">
      <i class="material-icons">menu_book</i>
      <span>Courses</span>
    </a>
    <a class="nav-link" routerLink="/adminHomePage/addcourses" routerLinkActive="active-link">
      <i class="material-icons">add_circle</i>
      <span>Add Courses</span>
    </a>
    <button class="notification-button">
      <i class="material-icons">notifications</i>
    </button>
    <app-account-section></app-account-section>
  }
  @else {
    <app-login></app-login>
  }

</header>

<!-- Main content area for the router outlet -->
<main class="router-content">
  <router-outlet></router-outlet>
</main>