<div class="homepage-layout">
  <div class="filter-area">
    <app-searching></app-searching>
  </div>

  <div class="scroll-container" #scrollContainer>
    @if (coursesStore.loadError()) {
      <app-error-message [message]="coursesStore.loadError() || ''" (retry)="onReload()" />
    } @else if(coursesStore.totalCourses()>0){
      <div class="course-list">
        @for (course of coursesStore.courses(); track course.id) {
          <app-course-card [course]="course" mode="user" />
        }
      </div>
    }
    
    @if (coursesStore.isLoading() && coursesStore.courses().length === 0) {
      <app-loading></app-loading>
    } @else if (!coursesStore.isLoading() && coursesStore.courses().length === 0 && !coursesStore.loadError()) {
      <app-nothing-found [message]="'We couldn\'t find any courses matching your search. Try adjusting your filters.'" />
    }

    @if (coursesStore.isLoadingNextPage()) {
      <app-loading></app-loading>
    }
    
    @if (!coursesStore.isLoading() && coursesStore.hasMorePages()) {
      <div #loadingTrigger></div>
    }
  </div>
</div>