
<div class="homepage-layout">


  <div class="filter-area">
    <app-searching></app-searching>
  </div>


  <div class="scroll-container" #scrollContainer>
    
    <div *ngIf="isLoading()" class="loading-spinner">Loading...</div>
    <div *ngIf="error()" class="error-message">{{ error() }}</div>

    <div class="course-list" *ngIf="!isLoading() && !error()">
      <div class="course-item" 
           #courseItem 
           [attr.data-course-id]="course.id"
           *ngFor="let course of courses(); trackBy: trackByCourseId">

        <a [routerLink]="['/course-details', course.id]" class="course-link">
          <div class="course-thumbnail">
            <img [src]="!isThumnailLoading() && course.coursethumbnail ? 'data:image/png;base64,' + course.coursethumbnail : 'https://as2.ftcdn.net/v2/jpg/01/02/45/61/1000_F_102456100_OOTt9tI6c4RQUf2BVpAR4rUPF5qmS3Ah.jpg'" 
                 alt="Course thumbnail" 
                 class="course-image" />
          </div>
          <div class="course-info">
            <h3 class="course-title">{{ course.coursename }}</h3>
            <p class="course-price">{{ course.courseprice | currency:'INR':'symbol' }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>