<div class="sidebar-container">
    <div class="infinite-scroll-container">
      <div class="sidebar-header">
        <h2>Video Sidebar</h2>
      </div>
      <div hidden>{{loadVideos()}}</div>
      <div class="sidebar">
        <div class="sidebar-item" *ngFor="let uservideo of videos(); let i = index"
             (click)="onVideoSelect(i)"
             #scrollContainer>
             @if(uservideo.accessStatus === 'UNLOCKED')
             {
              @if(uservideo.paymentStatus === 'COMPLETED')
              {
                <iframe
                  [src]="uservideo.vedio.videourl | safeUrlPipe"
                  class="sidebar-thumbnail"
                  frameborder="0"
                  allowfullscreen>
                </iframe>
              }
                @else
                {
                  <img
                    [src]="'https:/play-lh.googleusercontent.com/JfWvH4z_d2CAXA0FUivPmCqounzvlknndva1YHbhMdkySOjMIHv48whXj9-7VcKRoQ'"
                    class="sidebar-thumbnail"
                    alt="Thumbnail">
                    <input type="button" (click)="payForVideo($event,uservideo.id)" value="Pay to watch">
                }
                <h3 class="sidebar-title">{{ uservideo.vedio.vediotitle }}</h3>
              }
              @else {
                <img
                    [src]="'https:/quotefancy.com/media/wallpaper/1600x900/4929570-Rick-Mears-Quote-To-finish-first-you-must-first-finish.jpg'"
                    class="sidebar-thumbnail"
                    alt="Thumbnail">
              }
          
        </div>
      </div>
      <div *ngIf="loadingVideos" class="loading-message">
        <p>Loading more videos...</p>
      </div>
    </div>
</div>
  
