<div class="task-pdf-dialog" [ngClass]="{'pdf-shown': isPdfShown}">
  <!-- Task Information with Edit and Delete buttons at the top right -->
  <div class="task-header">
      <h2 mat-dialog-title>{{ task.task }}</h2>
      <div class="action-buttons">
          <button mat-icon-button color="primary" (click)="editTask($event)">
              <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteTask($event,task.id)">
              <mat-icon>delete</mat-icon>
          </button>
      </div>
  </div>

  <h3>Task ID: {{ task.id }}</h3>
  <h4>Task Price: {{ task.taskprice | currency: 'INR':'symbol' }}</h4>

  <!-- Task Container (PDF & Video) -->
  <div class="task-container">
      <!-- PDF Viewer -->
      <div class="pdf-container" *ngIf="pdfUrl">
          <iframe [src]="pdfUrl | safeUrlPipe" frameborder="0"></iframe>
      </div>

      <!-- Video -->
      <div class="task-details-right">
          <iframe [src]="task.taskurl | safeUrlPipe" frameborder="0"></iframe>

          <!-- Action buttons -->
          <div class="mat-dialog-actions">
              <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
              <button mat-raised-button color="accent" (click)="viewPdf()">Generate & View PDF</button>
              <button mat-raised-button color="warn" (click)="downloadPDF()">Download PDF</button>
          </div>
      </div>
  </div>
</div>
